td.dt-teamDetailsClick {
    cursor: pointer;
}

.border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.postseasonPosition-GUR {
    background-color: rgba(99,212,113, 0.18) !important;    
}

.postseasonPosition-AA {
    background-color: rgba(255,212,73, 0.4) !important;    
}

.postseasonPosition-AM {
    background-color: rgba(241,80,37, 0.18) !important;    
}

.postseasonPosition-EUR {
    background-color: rgba(75,136,162, 0.18) !important;    
}

div[class^="postseasonPosition-"] {
    margin-top:.25rem;
    padding:.25rem;
}

.invites {
    display: none;
}

.dt-column-title i.bi-question-circle {
    font-size:.75rem;
    vertical-align: text-top;
}

.betaFlag {
    background: #970D00;
    border-radius: 5px;
    color: #fff;
    font-size: .5rem;
    font-weight: 500;
    padding: 2px 5px;
    vertical-align: text-top;
}

.navbar-collapse:not(.collapsing):not(.show) .onlyCollapsed {
    display:none;
}

.teamName {
    line-height: 1.1;
}

.teamLocation {
    font-size: .8em;
}

td.points {
    font-size: .85em;
}

td.teamLogo {
    width: 60px;
}