/* Minimum width, it's responsive but only to a point.*/
body,
.container-xl,
.modal-xl {
  min-width: 667px;
}

/* Bootstrap modal has a bug on mobile devices, fix */
.modal-xl {
    padding-right: 0px !important;
}
.modal-backdrop {
    width: 100%;
    height: 100%;
}

/* Navbar styling */
.navbar-collapse:not(.collapsing):not(.show) .onlyCollapsed {
    display:none;
}
.betaFlag {
    background: #970D00;
    border-radius: 5px;
    color: #fff;
    font-size: .5rem;
    font-weight: 500;
    padding: 2px 5px;
    vertical-align: text-top;
}
/* Make Floating selects in navbar more compact */ 
nav .form-floating>.form-select {
    font-size: .95em !important;
    height: 2.5rem !important;
    min-height: 2.5rem !important;
    padding-left: .5rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0 !important;
}
nav .form-floating>label {
    font-size: .9em !important;
    padding: 0.5rem 0.5rem !important;
}

/* Chart heights */
#rankingsChartContainer {
    height: 30rem;
}
#teamChartContainer {
    height: 25rem;
}

/* Postseason Position Background Colors */
div.postseasonPosition-GUR,
.postseasonPosition-GUR td {
    background-color: rgba(99,212,113, 0.2) !important;    
}
div.postseasonPosition-AA,
.postseasonPosition-AA td {
    background-color: rgba(255,212,73, 0.4) !important;    
}
div.postseasonPosition-AM,
.postseasonPosition-AM td {
    background-color: rgba(151,13,0, 0.16) !important;    
}
div.postseasonPosition-EUR,
.postseasonPosition-EUR td {
    background-color: rgba(184,217,238, 0.7) !important;    
}

/* override table striping, lighter */
table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n+1)>* {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.025) !important;
}

/* Postseason Position legend */
div[class^="postseasonPosition-"] {
    margin-top:.25rem;
    padding:.25rem;
    border-radius: 5px;
    font-size:.8rem;
}
.invites {
    display: none;
}

/* General DataTable styles and team rows */
td {
    vertical-align: middle;
}
.teamLocation,
.teamRp,
.teamRank {
    font-size: .8em;
}

/* Tooltip icon in column title */
.dt-column-title i.bi-question-circle {
    font-size:.75rem;
    vertical-align: text-top;
}
/* Click entire row to see team details */
td.dt-teamDetailsClick {
    cursor: pointer;
}

/* Team detail styling */
.text-overflow-ellipsis {
    max-width: 14em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td.narrow,
th.narrow {
    padding-left: .1em !important;
    padding-right: .1em !important;
}

.noWrap {
    overflow: hidden;
    white-space: nowrap;
}

#teamGameHistory .dtrg-level-0 th {
    vertical-align: middle;    
}

#teamGameHistory .rpBeforeAfter {
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

#teamGameHistory tbody .rpBeforeAfter {
    font-weight: var(--bs-body-font-weight);
    font-size: var(--bs-body-font-size);
}

#teamGameHistory thead .dtrg-level-0 th:first-child {
    background-color: var(--bs-table-bg); 
}

.delta i.bi-triangle-fill {
    font-size: .4em;
}

td.delta i.bi-circle-fill {
    font-size: .3em;
}

td.delta i.bi-star-fill, 
td.delta span {
    font-size: .75em;
}

td.delta i.down {
    display: inline-block;
    transform: rotate(180deg);    
}