/* Minimum width, it's responsive but only to a point.*/
body,
.container-xl,
.modal-xl {
  min-width: 667px;
}

/* Bootstrap modal has a bug on mobile devices, fix */
.modal-xl {
    padding-right: 0px !important;
}
.modal-backdrop {
    width: 100%;
    height: 100%;
}

/* Navbar styling */
.navbar-brand img {
    height: 2em;
}

.unofficial-flag {
    background: #970D00;
    border-radius: 5px;
    color: #fff;
    font-size: .4em;
    font-weight: 500;
    padding: 2px 5px;
    vertical-align: text-top;
}
/* Make Floating selects in navbar more compact */ 
nav .form-floating>.form-select {
    font-size: .95em !important;
    height: 2.5em !important;
    min-height: 2.5em !important;
    padding-left: .5em !important;
    padding-top: 0.75em !important;
    padding-bottom: 0 !important;
}
nav .form-floating>label {
    font-size: .9em !important;
    padding: 0.5em 0.5em !important;
}

.navbar-collapse:not(.collapsing):not(.show) .only-collapsed {
    display:none;
}

/* Chart heights */
#rankings-chart-container {
    height: 30rem;
}
#team-chart-container,
#predictor-chart-container {
    height: 25rem;
}

/* Postseason Position Background Colors */
div.postseason-position.GUR,
.postseason-position.GUR td {
    background-color: rgba(99,212,113, 0.2) !important;    
}
div.postseason-position.AA,
.postseason-position.AA td {
    background-color: rgba(255,212,73, 0.4) !important;    
}
div.postseason-position.AM,
.postseason-position.AM td {
    background-color: rgba(151,13,0, 0.16) !important;    
}
div.postseason-position.EUR,
.postseason-position.EUR td {
    background-color: rgba(184,217,238, 0.7) !important;    
}

/* override table striping, lighter */
table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n+1)>* {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.025) !important;
}

#postseason-legend {
    font-size:.8em;
    margin-top: .25em;
}

/* Postseason Position legend */
div.postseason-position {
    margin-top:.25em;
    padding:.25em;
    border-radius: 5px;
}
.invites {
    display: none;
}

/* General DataTable styles and team rows */
td {
    vertical-align: middle;
}

td.narrow,
th.narrow {
    padding-left: .1em !important;
    padding-right: .1em !important;
}

.no-wrap {
    overflow: hidden;
    white-space: nowrap;
}

/* Tooltip icon in column title */
.dt-column-title i.bi-question-circle {
    font-size:.75em;
    vertical-align: text-top;
}

.team-logo {
    height: 2.5em;
}

.team-location,
.team-rp,
.team-rank {
    font-size: .8em;
}

th.delta i {
    font-size: .75em;
}

.delta i.bi-triangle-fill {
    font-size: .4em;
}

td.delta i.bi-circle-fill {
    font-size: .3em;
}

td.delta i.bi-star-fill, 
td.delta span {
    font-size: .75em;
}

td.delta i.down {
    display: inline-block;
    transform: rotate(180deg);    
}

#rankings-table td:not(.no-pointer) {
    cursor: pointer; /* Click entire row to see team details */
}

.annotations {
    font-size: .85em;
}

#rankings-table-container .detail-footer {
    margin-top:.5rem;
    font-size:.85rem;
}

/* Team detail styling */
#team-logo {
    height: 4em;
}

#team-rp {
    font-weight: bold;
}

.text-overflow-ellipsis {
    max-width: 14em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#team-games-table .dtrg-level-0 th {
    vertical-align: middle;    
}

#team-games-table .rp-change {
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

#team-games-table tbody .rp-change {
    font-weight: var(--bs-body-font-weight);
    font-size: var(--bs-body-font-size);
}

#team-games-table thead .dtrg-level-0 th:first-child {
    background-color: var(--bs-table-bg); 
}

.opponent-logo {
    height: 2em;
}

/* Predictor */
.predictor-result label {
    font-weight: bold;
}

.predictor-logo {
    height: 4em;
}

#predictor-chart-container .loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}