name: Update Rankings

on:
  workflow_dispatch:  # Allows manual triggering
  schedule:
    - cron: '0 */2 * * *'  # Runs every 2 hours

jobs:
  update-rankings:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests statsmodels python-dateutil

      - name: Run linear_regression.py update script
        run: python ./py/linear_regression.py

      - name: Commit and push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git diff --cached --quiet || git commit -m "Automated rankings update"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}